.amp-page-banner{
    background:#00213D;
    min-height: 760px;
    background-image: url(source/images/banner-bg.jpg); 
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 126px;
    .container{
        max-width: 1090px;
        background: rgba(255,0,0,.1);
        margin: 0 auto;
        position: relative;
    }
    .banner-content{
        max-width: 560px;
    }
    .banner-carousel{
        max-width: 100%;
        .fourg-steps{
            width: 123px;
            height: 100px;
        }
    }
    .banner-animation{
        position: absolute;
        top: 0;
        right: -46px;
    }
    .banner-title{
        font-size: 43px;
        line-height: 50px;
        margin-bottom: 30px;
        vertical-align: top;
        font-weight: normal;
        font-style: italic;
        margin-bottom: 30px;
    }
    .banner-desc{
        font-size: 20px;
        font-style: italic;
        font-weight: 500;
        line-height: 34px;
    }
    .container-tes{
        height: 10px;
        width: 390px;
        background: yellow;
    }
}